# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc

# PyCharm
.idea/

# Data (ham veri GitHub'a gitmesin)
data/raw/*.csv
!data/raw/pah_egitim_seti_temiz_final.csv

# Model dosyaları
models/
reports/

# OS
.DS_Store
Thumbs.db

# data
data/raw/*.csv
data/raw/*.tsv
data/raw/*.txt